@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: white;
    scroll-behavior: smooth;

}
button {
    background: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2 {
    color: rgb(34, 34, 34);
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    background: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    justify-content: center;   
}
.header__leftSide {
    display: flex;
    flex-direction: row;
    gap: 41px;
    padding: 19px; 
    cursor: pointer;
}
.header__rightSide {
    display: flex;
    justify-content: end;
    gap: 33px;
    cursor: pointer; 
    position: relative;
    
}
.header__rightSide button {
    padding: 0; border: 0;
}
.header__leftSide button {
    padding: 0; border: 0;
}
.pinkWord {
    color: rgb(241, 109, 127);
    font-family: Lato, sans-serif;
}

.main {
    background: white;
}
.mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -1px;
    background: rgb(241, 228, 230);
    
}

.mainContent__leftSide { 
   min-width: 881px;

}

.mainContent__rightSide {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-right: 331px;
    font-size: 32px;
    margin-top: 290px;
    margin-bottom: 381px;
    
    
}

.mainContent__rightSide h1 {
    font-weight: 900;
    font-size: 48px;
}
.colorFonCard {
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 65px;
}

.cardPhotoFirst {
    background:url(.//img/photoCard1.png);
    width: 360px;
    height: 260px;
}
.cardBackgroundFirst {
    background: url(.//img/Rectangle\ 20.png);
    width: 360px;
    height: 260px; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.cardText h2 {
    font-weight: 400;
    font-size: 16px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
.cardText h3 {
    font-size: 24px;
    font-weight: 700;
    color: rgb(241, 109, 127);
}
.cardPhotoSecond {
    background: url(.//img/photoCard2.png);
    width: 360px;
    height: 260px;
}
.cardBackgroundSecond {
    background: url(.//img/Rectangle\ 20.png);
    width: 360px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.cardPhotoThird {
    background: url(.//img/photoCard3.png);
    width: 360px;
    height: 260px;
}
.cardBackgroundThird {
    background: url(.//img/Rectangle\ 20.png);
    width: 360px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.cardBigPhoto {
    background: url(.//img/photoCard4.png);
    width: 1140px;
    height: 180px;
}
.cardBigBackground {
    background: url(.//img/Rectangle\ 21.png);
    width: 1140px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.underMain {
    background: white;
}

.underMainText {
    width: 400;
    margin-top: 96px;
    margin-bottom: 48px;
}
.underMainText h1 {
    color: rgb(34, 34, 34);
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    display: flex;
    justify-content: center;
}
.underMainText h2 {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    display: flex;
    justify-content: center;
    margin-top: 6px;
}

.cardList {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
    
}
.card {
    background: url(.//img/Background.png);

}
.card h1 {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16;
    padding: 24px 16px;
}
.card h2 {
    color: rgb(93, 93, 93);
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16;
    padding: 24px 16px;
}
.underMainBtn {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
    
}

.underMainButton:hover {
    border: 1px solid rgb(255, 106, 106);
    background: rgb(241, 109, 127);
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
.underMainButton {
    color: rgb(242, 99, 118);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border: 1px solid rgb(255, 106, 106);
    padding: 15px 39px;
}

.smallTxt {
    color: rgb(241, 109, 127);
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16;
    padding: 18px 20px;
}
footer {
    background: rgb(34, 34, 36);
}
.offers {
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: 1fr;
   padding-top: 103px;
   padding-bottom: 104px;
   gap: 30px;
}
.firstOffer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.secondOffer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.thirdOffer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.offers h2 {
    color: rgb(251, 251, 251);
    font-size: 19.96px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
    
}
.offers h3 {
    color: rgb(251, 251, 251);
    font-size: 13.97px;
    font-weight: 300;
    line-height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    text-align: center;
    opacity: 0.7;
}

.footerInfo_Background {
    background: url(.//img/Layer\ 41.svg);

    height: 448px;
    background-size: cover;
}
.footerInfo_Layer {
    background: url(.//img/footerRect.svg);
    height: 448px;
    background-size: cover;
}

.radiusPhoto {
    border-radius: 50%;
    
}
.bothSide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 327px;
    padding-top: 50px;
}
.fig {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerInfo_LeftSide{
display: flex;
text-align: center;
}

.footerInfo_LeftSide h2{
color: rgb(34, 34, 36);
font-style: italic;
font-size: 20px;
font-weight: 400;
line-height: 24px;
margin-top: 30px;
}

.footerInfo_LeftSide span {
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    text-align: center; 
}

.form {
    display: flex;
    margin-top: 32px;
    padding-left: 10px;
}
.footerInfo_RightSide h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 40.13px;
    text-align: center;
    
}
.footerInfo_RightSide h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 30.1px;
    text-align: center;
    
}
.radiusInput {
    border-radius: 20px 0 0 20px;
    padding: 7px 64px 6px 22px;
    display: block;
    border: none;
    background: rgb(225, 225, 225);
}
.infoBtn {
    background: rgb(241, 109, 127);
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    padding: 7px 7px 6px 8px;
    border-radius: 0 20px 20px 0;
    display: block;
    border: none;

}
.endPage {
    display: flex;
    align-items: center; 
    gap: 655px;
    
}
.logos {
    display: flex;
    flex-direction: row;
    gap: 7px;
   
    
}
.facebook button {
    width: 32px;
    height: 32px;
    transition: 0.3s;
    border: none;
    background-color: white;
}
.instgramm button {
    width: 32px;
    height: 32px;
    transition: 0.3s;
    border: none;
    background-color: white;
}
.pinterest button {
    width: 32px;
    height: 32px;
    transition: 0.3s;
    border: none;
    background-color: white;
}
.twitter button {
    width: 32px;
    height: 32px;
    transition: 0.3s;
    border: none;
    background-color: white;
}
.footerAddress{
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(251, 251, 251);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    min-width: 251px;
}

.facebook:hover button {
    background-color: #F16D7F;
    
}
.facebook:hover svg {
    fill: white;
}
.instgramm:hover button {
    background-color: #F16D7F;
}
.instgramm:hover svg {
    fill: white;
}
.pinterest:hover button {
    background-color: #F16D7F;
}
.pinterest:hover svg {
    fill: white;
}
.twitter:hover button {
    background-color: #F16D7F;
}
.twitter:hover svg {
    fill: white;
}

.blackout{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.blackout button {
    position: absolute;
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 11px;
    padding: 13px 15px 12px 13px;
    border-color: white;
    
}
.blackout:hover button {
    display: flex;
}
.blackout h2 {
    color: white;
}
.blackoutPhotoCard {
    position: absolute; 
}




.dropbtn {
    color: white;
    border: none;
    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: 6px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: rgb(111, 110, 110);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding: 11px 100px 10px 54px;
  }
  .dropdown-content h3 {
    color: rgb(241, 109, 127);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding: 20px 145px 12px 32px;
  }
  .dropdown-content h2 {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 700;
    padding: 32px 144px 0 34px;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
}
  .dropdown:hover .dropdown-content {   
    display: block;
}

.numberFive {
    background: #F16D7F;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    right: -3px;
}


@media(min-width: 768px) and (max-width: 1140px) {
    .container {
        max-width: 736px;
       
    }
    
    .header__rightSide {
        gap: 25px;
    }
    .mainContent {
        justify-content: space-around;
        
    }
    .mainContent__leftSide { 
        min-width: 386px;
    }
    .mainContent__rightSide {
        display: flex;
        flex-wrap: wrap;
        min-width: 311px;
        margin-right: 31px;
        margin-top: 138px;
        margin-bottom: 138px;
        margin-left: 39px;
    }
    .mainContent__rightSide h1 {
        font-size: 44px;
    }
    .mainContent__rightSide h2 {
        font-size: 24px;
    }
    .mainContent__rightSide span {
        font-size: 24px;
    }
    .colorFonCard {
        gap: 20px;
    }
    .cardPhotoFirst {
        background: url(.//img/Layer\ 43.png);
        width: 232.04px;
        height: 167px;
    }
    .cardBackgroundFirst {
        background: url(.//img/Rectangle\ 22.png);
        width: 232.04px;
        height: 167px; 
    }
    .cardPhotoSecond {
        background: url(.//img/layer44.png);
        width: 232.04px;
        height: 167px;
    }
    .cardBackgroundSecond {
        background: url(.//img/Rectangle\ 22.png);
        width: 232.04px;
        height: 167px;
    }
    .cardPhotoThird {
        background: url(.//img/layer45.png);
        width: 232.04px;
        height: 167px;
    }
    .cardBackgroundThird {
        background: url(.//img/Rectangle\ 22.png);
        width: 232.04px;
        height: 167px;
    }
    .cardBigPhoto {
        background: url(.//img/layer46.png);
        width: 734.58px;
        height: 116px;
    }
    .cardBigBackground {
        background: url(.//img/Rectangle\ 23.png);
        width: 734.58px;
        height: 116px;
    }
    
    .underMainText {
        margin-top: 109px;
        margin-bottom: 93px;
    }

    .cardList {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 16px;
    }

    .underMainText h2 {
        font-weight: 300;
    }
    .underMainBtn {
        margin-top: 32px;
        margin-bottom: 64px;
    }
    .offers {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        gap: 48px;
        max-width: 300px;
        padding-top: 48px;
        padding-bottom: 64px;
    }
    .offers h2 {
        margin-top: 25px; 
    }
    .footerInfo_Background {
        background: url(.//img/LayerForTable.png);
        min-height: 693px;
        background-size: cover;
    }
    .footerInfo_Layer {
        background: url(.//img/RectFotTable.png);
        min-height: 693px;
        background-size: cover;
    }
    .bothSide {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
 
    .footerInfo_LeftSide{
    padding-top: 53px;
    }
    .form {
        margin-top: 34px;
    }

    .infoBtn {
        width: 100px;
        height: 49px;
    }

    .endPage {
        display: flex;
        align-items: center; 
        gap: 305px;
        
    }

}

@media (max-width: 767px) {
    .container {
        max-width: 343px;
        margin: 0 auto;
    }
body {
    min-width: 360px;
}
    .header__leftSide {
        padding: 18px; 
    }
    .hidden_btn {
        display: none;
    }

    .mainContent {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -1px;   
    }
    
    .mainContent__leftSide {
        display: none;
    }
    .mainContent__rightSide {
        padding-left: 15px;
        margin: 148px 56px;
    }
    
    .mainContent__rightSide h1 {
        font-size: 38px;
    }
    .mainContent__rightSide h2 {
        font-size: 20px;
    }
    .mainContent__rightSide span {
        font-size: 20px;
    }

    .colorFonCard {
        gap: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cardPhotoFirst {
        max-width: 343px;
        height: 247px;
    }
    .cardBackgroundFirst {
        width: 343px;
        height: 247px; 
    }
    .cardPhotoSecond {
        width: 343px;
        height: 247px; 
    }
    .cardBackgroundSecond {
        width: 343px;
        height: 247px; 
    }
    .cardPhotoThird {
        width: 343px;
        height: 247px; 
    }
    .cardBackgroundThird {
        width: 343px;
        height: 247px; 
    }
    .cardBigPhoto {
        width: 343px;
        height: 111px;
    }
    .cardBigBackground {
        width: 343px;
        height: 111px;
    }
    .underMainText {
        margin-top: 64px;
        margin-bottom: 64px;
    }

    .cardList {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

    }

    .card h1 {
        gap: 12px;
        padding: 25px 18px;
    }
    .card h2 {
        font-weight: 400;
        gap: 12;
    }
    .underMainBtn {
        margin-top: 40px;
        margin-bottom: 96px;
       
    }
    .offers {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        gap: 46px;
        max-width: 300px;
        padding-top: 48px;
        padding-bottom: 81px;
    }
    .offers h2 {
        margin-top: 27px; 
    }

    .footerInfo_Background {
        background: url(.//img/LayerForTable.png);
        min-height: 693px;
        background-size: cover;
    }
    .footerInfo_Layer {
        background: url(.//img/RectFotTable.png);
        min-height: 693px;
        background-size: cover;
    }

    .bothSide {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
 
    .footerInfo_LeftSide{
    padding-top: 53px;
    }
    .footerInfo_RightSide h2 {
        margin-top: 59px;
    }
    .form {
        margin-top: 22px;
    }

    .infoBtn {
        max-width: 95px;
        max-height: 46px;
    }
    .endPage {
        display: flex;
        align-items: center; 
        flex-direction: column-reverse;
        padding-top: 40px;
        padding-bottom: 9px;
        gap: 40px;
    }
    .footerAddress {
        min-width: 251px;
    }
    .numberFive {
        display: none;
    }
    .blackoutCard {
        max-width: 343px;
        height: 418px;
    }
    .blackoutPhotoCard {
        max-width: 343px;
        height: 418px;      
    }
    
}