@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: white;
    scroll-behavior: smooth;
}
button {
    background: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2 {
    color: rgb(34, 34, 34);
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    background: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;
   
    
}
.header__leftSide {
    display: flex;
    flex-direction: row;
    gap: 41px;
    padding: 19px; 
    cursor: pointer;
}
.header__rightSide {
    display: flex;
    justify-content: end;
    gap: 33px;
    cursor: pointer; 
}
.pinkWord {
    color: rgb(241, 109, 127);
    font-family: Lato, sans-serif;
}

.main {
    background: rgb(241, 228, 230);
}
.mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -1px;
    
}

.mainContent__leftSide { 
   min-width: 881px;
}

.mainContent__rightSide {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-right: 331px;
    font-size: 32px;
    margin-top: 290px;
    margin-bottom: 381px;
}

.mainContent__rightSide h1 {
    font-weight: 900;
    font-size: 48px;
}
.colorFonCard {
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 65px;
}

.cardPhotoFirst {
    background:url(.//img/photoCard1.png);
    width: 360px;
    height: 260px;
}
.cardBackgroundFirst {
    background: url(.//img/Rectangle\ 20.png);
    width: 360px;
    height: 260px; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.cardText h2 {
    font-weight: 400;
    font-size: 16px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
.cardText h3 {
    font-size: 24px;
    font-weight: 700;
    color: rgb(241, 109, 127);
}
.cardPhotoSecond {
    background: url(.//img/photoCard2.png);
    width: 360px;
    height: 260px;
}
.cardBackgroundSecond {
    background: url(.//img/Rectangle\ 20.png);
    width: 360px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.cardPhotoThird {
    background: url(.//img/photoCard3.png);
    width: 360px;
    height: 260px;
}
.cardBackgroundThird {
    background: url(.//img/Rectangle\ 20.png);
    width: 360px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.cardBigPhoto {
    background: url(.//img/photoCard4.png);
    width: 1140px;
    height: 180px;
}
.cardBigBackground {
    background: url(.//img/Rectangle\ 21.png);
    width: 1140px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
footer {
    background: white;
}

.footerText {
    width: 400;
    margin-top: 96px;
    margin-bottom: 48px;
}
.footerText h1 {
    color: rgb(34, 34, 34);
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    display: flex;
    justify-content: center;
}
.footerText h2 {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    display: flex;
    justify-content: center;
    margin-top: 6px;
}

.cardList {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
}
.card {
    background: url(.//img/Background.png);
}
.card h1 {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16;
    padding: 24px 16px;
}
.card h2 {
    color: rgb(93, 93, 93);
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16;
    padding: 24px 16px;
}
.footerBtn {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
   
}
.footerButton {
    color: rgb(242, 99, 118);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border: 1px solid rgb(255, 106, 106);
    padding: 15px 39px;
}

.smallTxt {
    color: rgb(241, 109, 127);
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16;
    padding: 18px 20px;
}

@media(min-width: 768px) and (max-width: 1140px) {
    .container {
        max-width: 736px;
    }
    .header__rightSide {
        gap: 25px;
    }
    .mainContent {
        justify-content: space-around;
        gap: 30px;
    }
    .mainContent__leftSide { 
        min-width: 386px;
    }
    .mainContent__rightSide {
        display: flex;
        flex-wrap: wrap;
        min-width: 311px;
        margin-right: 31px;
        margin-top: 138px;
        margin-bottom: 138px;
        margin-left: 39px;
    }
    .mainContent__rightSide h1 {
        font-size: 44px;
    }
    .mainContent__rightSide h2 {
        font-size: 24px;
    }
    .mainContent__rightSide span {
        font-size: 24px;
    }
    .colorFonCard {
        gap: 20px;
    }
    .cardPhotoFirst {
        background: url(.//img/Layer\ 43.png);
        width: 232.04px;
        height: 167px;
    }
    .cardBackgroundFirst {
        background: url(.//img/Rectangle\ 22.png);
        width: 232.04px;
        height: 167px; 
    }
    .cardPhotoSecond {
        background: url(.//img/layer44.png);
        width: 232.04px;
        height: 167px;
    }
    .cardBackgroundSecond {
        background: url(.//img/Rectangle\ 22.png);
        width: 232.04px;
        height: 167px;
    }
    .cardPhotoThird {
        background: url(.//img/layer45.png);
        width: 232.04px;
        height: 167px;
    }
    .cardBackgroundThird {
        background: url(.//img/Rectangle\ 22.png);
        width: 232.04px;
        height: 167px;
    }
    .cardBigPhoto {
        background: url(.//img/layer46.png);
        width: 734.58px;
        height: 116px;
    }
    .cardBigBackground {
        background: url(.//img/Rectangle\ 23.png);
        width: 734.58px;
        height: 116px;
    }
    
    .footerText {
        margin-top: 109px;
        margin-bottom: 93px;
    }

    .cardList {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 16px;
    }

    .footerText h2 {
        font-weight: 300;
    }
    .footerBtn {
        margin-top: 32px;
        margin-bottom: 64px;
    }
}